<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>BML Dashboard</title>
   </head>

<style>
#dashboard {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#dashboard td, #dashboard th {
  border: 1px solid #ddd;
  padding: 8px;
}

#dashboard tr:nth-child(even){background-color: #f2f2f2;}

#dashboard tr:hover {background-color: #ddd;}

#dashboard th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>


  <body>
        <form>
	<table id = "dashboard">
  		<tr>
    			<th>Application name</th>
	    		<th>Environnment</th>
	  	</tr>
  		<tr>
    			<td>Stash</td>
    			<td><a href='/stash' target={{stash}} >Stash</a></td>
  		</tr>
       		<tr>
         		<td>Jira</td>
	                <td><a href='/jira' target={{jira}}>Jira</a></td>
	        </tr>
	        <tr>
	                <td>Jenkins</td>
	                <td><a href='/jenkins' target={{jenkins}}>Jenkins</a></td>
	        </tr>
                <tr>
                        <td>Non-Prod Rundeck</td>
                        <td><a href='/rundeck_nonprod' target={{rundeck_nonprod}}>Non-Prod Rundeck</a></td>
                </tr>

                <tr>
                        <td>Melbourne QA1</td>
                        <td><a href='/melbourne_qa1' target={{melbourne_qa1}}>Melbourne QA1</a></td>
                </tr>
                <tr>
                        <td>Melbourne QA2</td>
                        <td><a href='/melbourne_qa2' target={{melbourne_qa2}}>Melbourne QA2</a></td>
                </tr>

	        
		<tr>
	                <td>Confluence</td>
	                <td><a href='/confluence' target={{confluence}}>Confluence</a></td>
	        </tr>

                <tr>
                        <td>Greyt HR</td>
                        <td><a href='/greythr' target={{greythr}}>Greyt HR</a></td>
                </tr>
                <tr>
                        <td>Prod DB VIewer</td>
                        <td><a href='/prod_db' target={{prod_db}}>Prod_DB Viewer</a></td>
                </tr>
                <tr>
                        <td>People HUM</td>
                        <td><a href='/people_hum' target={{people_hum}}>People Hum</a></td>
                </tr>
                <tr>
                        <td>Kibana PreProd</td>
                        <td><a href='/kibana_preprod_url' target={{kibana_preprod_url}}>Kibana</a></td>
                </tr>
                <tr>
                        <td>Artifactory</td>
                        <td><a href='/artifactory' target={{artifactory}}>Artifactory</a></td>
                </tr>
                <tr>
                        <td>Local Artifactory</td>
                        <td><a href='/local_artifactory' target={{local_artifactory}}>Local Artifactory</a></td>
                </tr>
                <tr>
                        <td>Microsoft request forms</td>
                        <td><a href='/req_form' target={{req_form}}>Request Form</a></td>
                </tr>
                <tr>
                        <td>Jmeter</td>
                        <td><a href='/jmeter' target={{jmeter}}>Jmeter</a></td>
                </tr>
          	<tr>
                        <td>Kafka</td>
                        <td><a href='/start_kafka'>Start Kafka</a> <a href='/stop_kafka'> Stop Kafka</a></td>
                </tr>
                <tr>
                        <td>Airflow</td>
                        <td><a href='/start_airflow'>Start Airflow</a> <a href='/stop_airflow'> Stop Airflow</a></td>
                </tr>
                <tr>
                        <td>Zookeeper</td>
                        <td><a href='/start_zookeeper'>Start Zookeeper</a>  <a href='/stop_zookeeper'> Stop Zookeeper</a></td>
                </tr>

                <tr>
                        <td>Redis</td>
                        <td><a href='/start_redis'>Start Redis</a>  <a href='/stop_redis'> Stop Redis</a></td>
                </tr>
                <tr>
                        <td>Solr</td>
                        <td><a href='/start_solr'>Start Solr</a>  <a href='/stop_solr'> Stop Solr</a></td>
                </tr>
                <tr>
                        <td>Apache Tomcat</td>
                        <td><a href='/start_tomcat'>Start Tomcat</a>  <a href='/stop_tomcat'> Stop Tomcat</a></td>
                </tr>
                <tr>
                        <td>Pre-Prod-Consul-App</td>
                        <td><a href='/consul_app' target={{consul_app}}>Consul-App</a></td>
                </tr>
                <tr>
                        <td>Prod-GCP</td>
                        <td><a href='/prod_consul' target={{prood_consul}}>Prod-GCP</a></td>
                </tr>
                <tr>
                        <td>Prod-Vienna</td>
                        <td><a href='/prod_vienna' target={{prood_vienna}}>Prod-Vienna</a></td>
                </tr>

	</table>
        </form>
  </body>
</html>
